body {
  text-align: center;
}
.leaflet-container {
  width: 100%;
  height: 300px;
}

/* Product Pages Select size component */
.availableSize:hover {
  background-color: #4d5461 !important;
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.selected {
  background-color: #4d5461 !important;
  color: #fff;
}

/* Checkout Shipping Form */

.row {
  display: flex;

  gap: 30px;
  justify-content: space-between;
}

.shippingForm {
  margin: auto;
}

.inputContainer {
  margin: 20px 0;
  text-align: start;
  width: 100%;
}

.inputContainer p {
  margin: 0 0 5px;
}

.inputContainer input {
  height: 25px;
  width: 100%;
  font-size: 18px;
}

/* Product Pages */

/* Image list */

.productImages {
  display: flex;
  // min-width: min(calc(100%,650px));
  margin: auto;
  max-width: 100%;
}

.imageContainer {
  display: flex;
  position: relative;
  max-width: 100%;
  justify-content: center;
  img {
    max-width: 700px;
    object-fit: cover;
    margin: 20px 0;
    width: 80%;
    height: auto;
    max-height: 500px;
  }
}
@media (max-width: 1200px) {
  .productImages {
    flex-flow: column-reverse;
  }

  .productImages div ul {
    display: flex;
    padding: 0;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    max-width: 100%;
    button {
      position: absolute;
    }
    img {
      object-fit: contain;
    }
  }
}

//
.container {
  transition: all 2.5s;
  -webkit-transition: all 2.5s;
  -moz-transition: all 2.5s;
  -ms-transition: all 2.5s;
  -o-transition: all 2.5s;
  height: fit-content;
  overflow: hidden;
}

.shrink {
  height: 0;
  transition: all 300ms ease-out;
}

@media (max-width: 800px) {
}

a.link {
  color: black;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    color: gray;
  }
}

.highlights {
  min-height: 300px;
  width: 100%;
  margin: 20 auto 0;
  justify-content: space-around;
  display: flex;
  @media (max-width: 900px) {
    display: grid;
    gap: 30px;
  }
}

.itemNav {
  top: 0%;
  position: sticky;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 2;
  margin: 0 -20px;
  padding: 0;
  width: 81%;
  @media (max-width: 1200px) {
    display: none;
  }
}
.selectSize {
  display: flex;
  flex-flow: wrap;
  width: 400px;
  border-left: 1px solid #ebedee;
  border-top: 1px solid #ebedee;
  margin: 10px 0 20px;
  font-size: 18px;
}

.itemDescription {
  max-width: 80%;
  padding: 0 40px;
  @media (max-width: 1200px) {
    .selectSize {
      width: 100%;
    }
    margin: auto;
    max-width: 100%;
    padding: 0;
    width: 90%;
    button {
      width: 50%;
    }
  }
}

.imageCategoryContainer {
  height: 33vh;
  position: relative;
  background-color: black;

  &:hover {
    img {
      opacity: 0.6;
    }
  }
}

.categoryText {
  text-decoration: none;
  position: absolute;
  top: 40%;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4vh;
  margin: auto;
}

@media (max-width: 1500px) {
}

// Basket

.tableHeader {
  position: sticky;
  top: 52px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 3;
  background-color: #eee;
}

.shoppingCartItem {
  display: flex;
  gap: 20px;
  height: 100%;
  img {
    // position: absolute;

    object-fit: contain;

    width: 100%;
    height: 100%;
  }
  @media (max-width: 700px) {
    img {
      position: relative;
      height: 100px;
    }
  }
}

// ItemImage component
.itemImageContainer {
  & > div:nth-child(2) {
    position: absolute !important;
    width: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
  }
}
.mainImage {
  max-width: 200px;
  max-height: 300px;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
  &.active {
    z-index: 0;
  }
}

.secondaryImage {
  position: absolute;
  max-height: 300px;
  max-width: 100%;
  left: 0;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  z-index: 0;
  &.active {
    z-index: 1;
  }
}

// Payment page

.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
#payment-request-button {
  margin-bottom: 32px;
}

.productList {
  img {
    object-fit: cover;
  }
}

// Follow instagram component

.pictureContainer {
  img {
    object-fit: cover;
  }
}

@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - 0.5em);
    height: 256px;
  }
}

.filepond--file-action-button {
  cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
  color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
  background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
  border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
  color: white;
}

/* error state color */
[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
  background-color: red;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
  background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
  background-color: transparent;
  border: 2px solid #2c3340;
}

.filepond--root {
  max-height: 50em;
}
// @media (min-width: 50em) {
//   .filepond--item {
//       width: calc(33.33% - .5em);
//   }
// }

// .filepond--item {
//   width: calc(50% - .5em);
// }

// Header

.categoriesSelection {
  height: 0;
  transition: all 0.3s ease-in;
  z-index: 3;

  .MuiPaper-root {
    max-height: fit-content;
  }
  &.true {
    height: 50px;
  }
  .MuiDrawer-paperAnchorTop {
    display: block;
    position: relative;
    z-index: 3;
  }
  div:not(.movingOutline) {
    // background-color: rgb(25, 28, 29);
    border-style: none !important;
  }
  // .MuiPaper-root.MuiDrawer-paper{
  //    background-color: var(--secondary-background-color);
  //   h5{
  //     color: var(--purple-color);
  //   }
  // }
}

.buttonOutlined,
button.buttonOutlined {
  color: #1f2021;
  border: 2px solid #1f2021;
  border-radius: 4px;
  max-width: 250px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 20px;
  text-align: center;
  text-transform: none;
  &.dark {
    color: #1f2021;
    border: 2px solid #1f2021;
  }
  &.light {
    color: #fff;
    border: 2px solid #fff;
  }
}

#emailSignUpInput {
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 10px 5px;
  width: 300px;
}

#emailSignUpButton {
  background-color: #212224;
  color: white;
}

.categoryContainer {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  margin: 20px 0 50px;
  padding: 10px 20px;
  box-sizing: border-box;
  @media (max-width: 1000px) {
    display: grid;
    justify-content: inherit;
    .imageCategoryContainer {
      width: 100%;
    }
  }
}

.underline {
  &:hover {
    text-decoration: underline;
  }
}
#searchBar {
  padding: 5px;
  align-self: center;
}

button.headerButton {
  height: 100%;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  width: 100px;
  &:hover {
    border-bottom: 4px solid black;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  left: 0;
  height: 100%;
  max-height: 0px;
  transition: all 4.15s ease-out;
  -webkit-transition: all 4.15s ease-out;
  -moz-transition: all 4.15s ease-out;
  -ms-transition: all 4.15s ease-out;
  -o-transition: all 4.15s ease-out;
  opacity: 0;
  text-align: start;
  a {
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdown {
  &:hover {
    .headerButton {
      border-bottom: 4px solid black;
    }
    .dropdown-content {
      display: block;
      background-color: #fff;
      width: 100%;
      max-height: fit-content;
      opacity: 1;
      height: auto;
    }
  }
}

.backdrop {
  background-color: hsla(0, 0, 7%, 0.36);
  opacity: 0;
  height: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  //visibility: 0;
  width: 100%;
  pointer-events: none;
  transition: opacity 0.25s, visibility 0s linear 0.25s;
  -webkit-transition: opacity 0.25s, visibility 0s linear 0.25s;
  -moz-transition: opacity 0.25s, visibility 0s linear 0.25s;
  -ms-transition: opacity 0.25s, visibility 0s linear 0.25s;
  -o-transition: opacity 0.25s, visibility 0s linear 0.25s;

  &.menuOpen {
    // visibility: 1;a
    opacity: 1;
  }
}


.timeForUpgrade{
  background-color: #f5f8f8;
  padding: 75px 0;
  display: flex;
  
  & > div{
    align-self: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 50px;
  }

  @media (max-width: 500px) {
    padding:25px 0;
    & > div{
      gap:10px
    }
    button span{
        font-size: 17px;
    }
  }

}

.timeForUpgradeButtons {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  @media (max-width: 900px) {
    flex-direction: column;
    justify-content: center;
    button {
      margin: auto;
      max-width: 100%;
    }
  }
}

.largeNav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 100%;
  @media (max-width: 900px) {
    display: none;
  }
}

.smallNav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 100%;
  @media (min-width: 900px) {
    display: none;
  }
}

.navBar {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: rgb(0, 0, 0) 0px -17px 26px;
  margin: 0;
  z-index: 4;
  min-height: 52px;
}

.wrapper169 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}


  .menubar {
    background: none;
    outline: none;
    border-style: none;
  }

  .overlay-content {
    // display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    left: 0;
    // height: 100%;
    max-height: 0px;
    transition: all 4.15s ease-out;
    -webkit-transition: all 4.15s ease-out;
    -moz-transition: all 4.15s ease-out;
    -ms-transition: all 4.15s ease-out;
    -o-transition: all 4.15s ease-out;
    opacity: 0;
    text-align: start;
    a {
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  
  #overlay {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 0%;
    top: 0%;
    right: 0%;
    // background-color: #1b1f25;
    z-index: 3;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: hidden;
    a,button{
      margin: auto;
      color: gray;
      text-transform: none;
      font-size: 2em;
      &:hover {
        color: #1f2021;
      }
    }
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
  #overlay.showing {
    padding-top: 60px;
    padding-bottom: 60px;

    height: auto;
  }
  
  @media (max-width: 950px) {
    #overlay {
      display: grid;
    }
  }


.signUpButtons{
  display: flex;
  gap: 5px;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  @media (max-width: 500px) {
    flex-flow: column;
    input, button{
      max-width: 100%;
      width: 100% !important;
    }

  }
  
}


.storeContainer{
  display: flex;
  form{
    width: 300px;
    height: 100%;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
    form{
      width: 100%;
      ul{
        
        li.sizeSelection{
          width: 100%;
          .selectSize{
            width: 100%;
          }
        }
      }
      .smallFilter{
        width: 50%;
        min-width: 200px;
        flex-grow: 1;
        display: inline-block;
        vertical-align: top;
      }

      .formSubmit{
        position: sticky;
        padding: 20px 0;
        bottom: 0px;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: rgb(0, 0, 0, 0.1) 0px -10px 10px;
        button{
          margin: auto;
          display: block;
        }
      }
    }
  }

}



.flexFooter{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px 30px 30px;
  flex-wrap: wrap;
  box-sizing: border-box;
  h3{
    color: white;
  }
  a,p{
    color: #8e8e8e;
    width: fit-content;
    &:hover{
      color: white;
      
    }
  }
  &>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 120px;
    text-align: initial;
    flex-grow: 1;
  }
}

.subFooter{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 100%;
  padding: 10px 20px;
  background-color: rgb(8,8,8);
  color: white;
  &>div{
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  @media(max-width:600px) {
    flex-wrap: wrap;
    &>p{
      width: 100%;
      text-align: start;
    }
    &>div{
      flex-wrap: wrap;
      justify-content: start;
      padding: 20px 0;
      p{
        margin:0;
      }
    }
  }
}


button.logoutButton{
  text-transform: capitalize;
  width: 100%;
  &.start{
    span{
      justify-content: flex-start;
    }
  }
  
}



.dropdownFlexContainer{
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  box-sizing: border-box;
}


